<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/product.css">
</head>

<body>

	<div id="cake">
			<div class="nav-bar"></div>
			<div class="product-image">
					<img v-bind:src="image">
			</div>
			<div class="product-info">

				<button v-on:click="addToCart">Add to cart</button>
				<button v-if="cart > 0" @click="removeFromCart">Remove from cart</button>

				<div class="cart">
					<p>Cart({{ cart }})</p>
				</div>

				<h1>{{ product }}</h1>

				<h2 v-if=sale>On Sale!</h2>
				<p v-if="inventory > 10">In stock</p>
				<p v-else-if="inventory <=10 && inventory > 0">Almost sold out</p>
				<p v-else>Out of stock</p>

				<a :href="link">More product like this</a>

				<ul>
						<li v-for="detail in details">{{detail}}</li>
				</ul>

				<div v-for="variant in variants" 
					:key="variant.variantId"
					class="color-box"
					:style="{ backgroundColor: variant.variantColor}"
					@mouseover="updateProduct(variant.variantImage)"
					>
				</div>
				<div v-for="size in sizes" :key=size.sizeId>
						<p>{{size.size}}</p>
				</div>
			</div>

        <p></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>